{% extends "base.html" %}

{% block title %}równodzień - strona główna{% endblock %}

{% block content %}
    pierwsza strona systemu równodzień<br>
    Ciekawe strony:
    <ul>
        <li><a href="/book/add/">Dodaj książkę</a></li>
        <li><a href="/reader/add/">Dodaj czytelnika</a></li>
        <li><a href="/librarian/add/">Dodaj bibliotekarza</a></li>
        <li><a href="/reports/books/">Raport - książki</a></li>
        <li><a href="/reports/instances/">Raport - egzemplarze</a></li>
        <li><a href="/reports/rentings/">Raport - aktualne wypożyczenia</a></li>
        <li><a href="/reports/rentings_history/">Raport - historia wypożyczeń</a></li>
        <li><a href="/reports/readers/">Raport - czytelnicy</a></li>
    </ul>
{% endblock %}
