{% extends "base.html" %}

{% block title %}równodzień - egzemplarze{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <td>Nr</td>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>PESEL</td>
            <td>Lista zwrotów</td>
        </tr>
        {% for i in readers %}
        <tr>

            <td><a href="/reader/{{ i.id }}/">{{ i.id }}</a></td>
            <td>{{ i.name }}</td>
            <td>{{ i.surname }}</td>
            <td>{{ i.pesel }}</td>
            <td><a href="/reports/return_by_reader/{{ i.pesel }}/">Zwroty</a></td>
        </tr>
        {% endfor %}
    
{% endblock content %}