{% extends "base.html" %}

{% block title %}równodzień - edytuj egzemplarz{% endblock %}

{% block content %}
    To jest egzemplarz książki <strong>{{ instance.book.title }}</strong>
    autorstwa <strong>{{ instance.book.author }}</strong>
    o numerze ISBN <strong>{{ instance.book.isbn }}</strong>
    wydana w roku <strong>{{ instance.book.year }}</strong><br>
    <a href="{{ instance.book.get_absolute_url }}">wróć do książki</a>
    <hr>
    <form action="{{ instance.get_absolute_url }}/" method="POST">
        <table>
        {{ form.as_table }}
        <tr><td colspan="2"><input type="submit" value="Zapisz"></td></tr>
        </table>
    </form>
    <hr>
    {% if instance.is_rented %}
        Już wypożyczona
    {% else %}
        <a href="/rent/register/{{ instance.code|urlencode }}">Wypożycz</a>
    {% endif %}
{% endblock %}
