{% extends "base.html" %}

{% block title %}równodzień - edytuj egzemplarz{% endblock %}

{% block content %}
    To jest egzemplarz książki <strong>{{ instance.book.title }}</strong>
    autorstwa <strong>{{ instance.book.author }}</strong>
    o numerze ISBN <strong>{{ instance.book.isbn }}</strong>
    wydana w roku <strong>{{ instance.book.year }}</strong><br>
    <a href="{{ instance.book.get_absolute_url }}">wróć do książki</a>
    <hr>
    <form action="{{ instance.get_absolute_url }}/" method="POST">
        <table>
        {{ form.as_table }}
        <tr><td colspan="2"><input type="submit" value="Zapisz"></td></tr>
        </table>
    </form>
    <hr>
    {% if instance.is_rented %}
        Już wypożyczona - czytelnikowi <a href="{{ instance.get_renting.whom.get_absolute_url }}">{{ instance.get_renting.whom }}</a>. Chcesz <a href="/return/{{ instance.code|urlencode }}/">zwrócić</a>?
    {% else %}
    <a href="/instance/{{ instance.code|urlencode }}/delete/">Skasuj</a>, 
        <a href="/register/{{ instance.code|urlencode }}/">Wypożycz</a>
    {% endif %}
    <hr>
    <table id="rentlog">
        <tr><td colspan="4">Rejestr wypożyczeń</td></tr>
        <tr>
            <th>Kiedy wypożyczono?</th>
            <th>Kiedy oddano?</th>
            <th>Komu?</th>
            <th>Kto?</th>
        </tr>
        {% for rent in rentlog %}
        <tr>
            <td>{{ rent.when_rented }}</td>
            <td>
                {% if rent.real_due == None %}
                    NIE ODDANO
                {% else %}
                    {{ rent.real_due }}
                {% endif %}
            </td>
            <td><a href="{{ rent.whom.get_absolute_url }}">{{ rent.whom }}</a></td>
            <td><a href="{{ rent.who.get_absolute_url }}">{{ rent.who }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
